.bkstyle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #CCCCCC;
	text-decoration: underline;
}
.bklightlink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #CCCCCC;
	text-decoration: underline;
}
.333greylink {
	color: #333333;
}
